@tailwind base;
@tailwind components;
@tailwind utilities;

.container-scrollbar::-webkit-scrollbar{
  width: 7px;
  background-color: rgb(17, 24, 39);
}
.container-scrollbar::-webkit-scrollbar-thumb{
  background-color: rgb(51,65,85);
  width: 5px;
  height: 5px;
  border-radius: 4px;

}